<div class="top-bar">
    <h1>Your Favorite Artists</h1>
</div>

<!--Add item Section-->
<!--A List of all of our expenses and income-->
<section class="add-item-section has-background-dark has-text-light">
    <div class="add-item-container">
        <!-- TODO Add Angular Form for adding info -->
        <app-add-item-form style="padding:20px;" (formSubmit) = 'addArtist($event)'>
        </app-add-item-form>
    </div>
</section>

<hr style="margin-top:0px;">
<app-artist-list class="has-background-dark has-text-light"
        [artistItems] = "artistItems"
        (delete) = "deleteArtist($event)"
        (update) = "updateArtist($event)"
>
</app-artist-list>